@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Inter', sans-serif;
background: #0b0b12;
color: #f5f5f5;
line-height: 1.6;
}

header{
boder-bottom: 1px solid #242432;
}
.navbar {
max-width: 1100px;
margin: auto;
padding: 22px 30px;

display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-size: 25px;
font-weight: 800;
}

.logo span,
h1 span{
color: #8b7cff;
}

.nav-links {
display: flex;
gap: 30px;
}

.nav-links a {
color: #aaa;
text-decoration: none;
font-size: 14px;
transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
color: #fff;
}

.hero {
max-width: 1100px;
margin: auto;
min-height: 75vh;
padding: 80px 30px;
display: grid;
grid-template-columns: 1.2fr 0.8fr;
gap: 60px;
align-items: center;
}

.intro {
color: #8b7cff;
font-size: 13px;
font-weight: 700;
letter-spacing: 3px;
}

.hero h1 {
font-size: 65px;
line-height: 1.1;
margin: 15px 0;
}

.hero h2 {
font-size: 22px;
color: #c7c7d1;
font-weight: 500;
}

.description {
color: #888894;
max-width: 550px;
margin: 25px 0;
}

.buttons {
display: flex;
gap: 15px;
margin-top: 30px;
}

.btn {
display: inline-block;
padding: 13px 22px;
border-radius: 8px;

text-decoration: none;
font-size: 14px;
font-weight: 600;

transition: 0.3s;
}

primary {
background: #8b7cff;
color: white;
}

.primary:hover {
transform: translate(-3px);
box-shadow: 0 10px 30px #8b7cff44;
}

.secondary {
border: 1px solid #333342;
color: white;
}

.secondary:hover {
background: #181824;
}

.hero-card {
display: flex;
justify-content: center;
}

.code-box {
width: 100%;
max-width: 400px;
padding: 35px;
background: #12121c;
border: 1px solid #292938;
border-radius: 15px;
box-shadow: 0 20px 60px #00000055;
font-family: monospace;
color: #aaa;
}

.code-box span {
color: #8bcff;
}

.code-box b {
color: #e6b86a;
}

.indent {
margin: 15px 0 15px 20px;
}

.quick-section {
max-width: 1100px;
margin: auto;
padding: 70px 30px;
}

.quick-section h2,
.education h2,
.skills-section h2 {
margin-bottom: 30px;
}

.skills {
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 18px;
}

.skill-card {
background: #12121c;
border: 1px solid #292938;
border-radius: 12px;
padding: 25px;
transition: 0.3s;
}

.skill-card:hover {
transform: translate(-6px);
border-color: #8b7cff;
}

.icon {
font-size: 30px;
margin-bottom: 15px;
}

.skill-card h3 {
margin-bottom: 5px;
}

.skill-card p {
color: #777783;
font-size: 14px;
}

.page-header {
max-width: 900px;
margin: auto;
padding: 90px 30px 50px;
}

.page-header h1 {
font-size: 55px;
margin: 10px 0;
}

.page-header p:last-child {
color: #858590;
}

.about-grid {
max-width: 1100px;
margin: auto;
padding: 20px 30px 70px;
display: grid;
grid-template-columns: 1.5fr 1fr;
gap: 20px;
}

.about-card {
background: #12121c;
border: 1px solid #292938;
border-radius: 15px;
padding: 35px;
}

.about-card h2 {
margin-bottom: 2-px;
}

.about-card p {
color: #92929d;
margin-bottom: 15px;
}

.interest-list {
list-style: none;
}

.interest list li {
padding: 12px 0;
border-bottom: 1px solid #292938;
}

.education,
.skills-section {
max-width: 1100px;
margin: auto;
padding 0 30px 70px;
}

.table-container {
overflow-x: auto;
}

table {
width: 100%;
border-collapse: collapse;
background: #12121c;
}

th,
td {
padding: 18px;
text-align: left;
border: 1px solid #292938;
}

th {
color: #8b7cff;
}

td {
color: #aaa;
}

.skills-tags {
display: flex;
flex-wrap: wrap;
gap: 12px;
}

.skills-tags span, 
.project-tags span {
background: #1a1926;
border: 1px solid #302d48;
color: #aaa;
padding: 8px 14px;
border-radius: 20px;
font-size: 13px;
}

.projects {
max-width: 1100px;
margin: auto;
padding: 20px 30px 80px;

display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
}

.project-card {
background: #12121c;
border: 1px solid #292938;
border-radius: 15px;
padding: 35px;
transition: 0.3s;
}

.project-card:hover {
transform: translate(-7px);
border-color: #8b7cff;
}

.project-number {
color: #8b7cff;
font-size: 14px;
font-weight: 700;
margin-bottom: 20px;
}

.project-card h2 {
margin-bottom: 15px;
}

.project-card p {
color: #858590;
margin-bottom: 20px;
}

.project-tags {
display: flex;
flex-wrap: wrap;
ga: 8px;
margin-bottom: 25px;
}

.project-link {
color: #8b7cff;
text-decoration: none;
font-weight: 600;
}

.contact-container {
max-width: 1100px;
margin: auto;
padding: 20px 30px 80px;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 30px;
}

.contact-info,
.contact-form {
background: #12121c;
border: 1px solid #292938;
border-radius: 15px;
padding: 35px;
}

.contact-info > p {
color: #858590;
margin: 15px 0 30px;
}

.contact-item {
display: flex;
gap: 15px;
align-items: center;
padding: 15px 0;
border-bottom: 1px solid #292938;
}

.contact-item span {
font-size: 25px;
}

.contact-item p {
color: #858590;
font-size: 13px;
}

.contact-item b {
color: white;
}


form {
display: flex;
flex-direction: column;
}

label {
margin-bottom: 8px;
font-size: 14px;
}

input,
textarea {
background: #0b0b12;
border: 1px solid #30303e;
border-radius: 7px;
padding: 13px;
margin-bottom: 20px;
color: white;
font-family: inherit;
outline: none;
}

input:focus,
textarea:focus {
border-color: #8b7cff;
}

textarea {
resize: vertical;
}

button {
border: none;
cursor: pointer;
font-family:inherit;
}

footer {
border-top: 1px solid #242432;
padding: 25px;
display: flex;
justify-content: space-between;
color: #666674;
font-size: 13px;
}

@media (max-width: 800px) {
.navbar {
flex-direction: column;
gap: 20px;
}

.nav-links {
gap: 15px;
}

.hero {
grid-template-columns: 1fr;
text-align: center;
}

.description {
margin-left: auto;
margin-right: auto;
}

.buttons {
justify-content: center;
}

.hero h1 {
font-size: 48px;
}

.skills {
grid-template-columns: repeat(2,1fr);
}

.about-grid,
.contact-container {
grid-template-columns: 1fr;
}

.projects {
grid-template-columns: 1fr;
}

.page-header {
text-align: center;
}

.footer {
flex-direction: column;
text-align: center;
gap: 8px;
}
}

@media (max-width:500px) {
.nav-links {
flex-wrap: wrap;
justify-content: center;
}

.skills {
grid-template-columns: 1fr;
}

.hero h1 {
font-size: 40px;
}

.page-header h1 {
font-size: 42px;
}

.buttons {
flex-direction: column;
}
}

















